@{
    ViewData["Title"] = "Home Page";
}

<h1>Sohbet</h1>

<form id="frmMessage">
    <input id="txtMessage" type="text" placeholder="mesajınız.." required />
    <button>Gönder</button>
</form>

<ul id="ulMessages"></ul>

@section Scripts {
    <script>

        //Arayüzdeki işlevleri getirme
        const frmMessage = document.getElementById("frmMessage");
        const txtMessage = document.getElementById("txtMessage");
        const ulMessages = document.getElementById("ulMessages");
        const name = prompt("Adınız");
        const color = `rgba(${r()}, ${r()}, ${r()}, 0.75)`;


        function r() {
            return Math.floor(Math.random() * 256);
        }

        //Client - Hub Bağlantısının ayarlanması
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        //Sunucudan yeni mesajın alınması
        connection.on("NewMessage", function (name, message) {
            const li = document.createElement("li");
            li.textContent = `${name}: ${message}`;
            ulMessages.prepend(li);
        });

        // SUNUCUYA FARE KONUMUNUN GÖNDERİLMESİ
        window.onmousemove = function (e) {
            connection.invoke("SendLocation", color, e.clientX, e.clientY);
        };

        // SUNUCUDAN FARE KONUMUNUN ALINMASI
        connection.on("LocationReceived", function (connectionId, color, x, y) {
            let box = document.getElementById(connectionId);

            if (!box) {
                box = document.createElement("div");
                box.className = "box";
                box.id = connectionId;
                document.body.append(box);
            }
            box.style.backgroundColor = color;
            box.style.left = x + "px";
            box.style.top = y + "px";
        });

        //Mesaj gönderildiğinde
        frmMessage.onsubmit = function (event) {
            event.preventDefault();

            //sunucuya gönder
            connection.invoke("SendMessage", name, txtMessage.value)
                .catch(function (err) {
                    console.log(err);
                });

            //metin kutusu temiz tutmak için
            txtMessage.value = "";
        };

        // BAĞLANTIYI BAŞLAT
        connection.start()
            .then(function () {
                console.log("bağlantı sağlandı");
            })
            .catch(function (err) {
                console.log("bağlantı hatası");
            });

    </script>
}
